**/.DS_Store
.idea
.gradle
build

# Files created for Helm dependencies
charts/**/charts/**.tgz

# Folders and files created when enabling debug mode in Helm
.debug

# temporary files for the github-release-note-updater
charts.yaml
releases.json
