---
# Source: hivemq-platform-operator/templates/bindings.yml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: hivemq-platform-operator-role-binding-my-operator
  labels:
    app.kubernetes.io/name: "hivemq-platform-operator"
    app.kubernetes.io/instance: "my-operator"
    app.kubernetes.io/version: "1.6.2"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: hivemq-platform-operator-role-my-operator
subjects:
  - kind: ServiceAccount
    name: hivemq-platform-operator-my-operator
    namespace: default
---
# Source: hivemq-platform-operator/templates/bindings.yml
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: hivemq-platform-operator-view-binding-my-operator
  labels:
    app.kubernetes.io/name: "hivemq-platform-operator"
    app.kubernetes.io/instance: "my-operator"
    app.kubernetes.io/version: "1.6.2"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view
subjects:
  - kind: ServiceAccount
    name: hivemq-platform-operator-my-operator
    namespace: default
