---
# Source: hivemq-platform-operator/templates/service-account.yml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: hivemq-platform-operator-my-operator
  labels:
    app.kubernetes.io/name: "hivemq-platform-operator"
    app.kubernetes.io/instance: "my-operator"
    app.kubernetes.io/version: "1.6.2"
