---
# Source: hivemq-platform-operator/templates/service.yml
apiVersion: v1
kind: Service
metadata:
  name: hivemq-platform-operator-my-operator
  labels:
    app.kubernetes.io/name: "hivemq-platform-operator"
    app.kubernetes.io/instance: "my-operator"
    app.kubernetes.io/version: "1.6.2"
spec:
  ports:
    - name: http-my-operator
      port: 8080
      protocol: TCP
      targetPort: http-my-operato
    - name: https-my-operator
      port: 8443
      protocol: TCP
      targetPort: https-my-operat
  selector:
    app.kubernetes.io/name: "hivemq-platform-operator"
    app.kubernetes.io/instance: "my-operator"
  type: ClusterIP
