apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hivemq.fullname" . }}-operator
  namespace: {{ template "hivemq.namespace" . }}
  labels:
    {{- include "hivemq.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ $.Chart.Name }}
  template:
    metadata:
      labels:
        app: "{{ $.Chart.Name }}"
        operator: "{{ include "hivemq.fullname" . }}"
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.nodeSelector }}
      nodeSelector:
      {{ toYaml . | indent 8 }}
      {{- end }}
      containers:
        - image: {{ .Values.operator.image }}
          imagePullPolicy: {{ .Values.operator.imagePullPolicy }}
          name: operator
          env:
            - name: JAVA_TOOL_OPTIONS
              value: "-XX:+UnlockExperimentalVMOptions -XX:InitialRAMPercentage=30 -XX:MaxRAMPercentage=80 -XX:MinRAMPercentage=30"
            - name: OPERATOR_LOG_LEVEL
              value: {{ .Values.operator.logLevel }}
            - name: CREATE_CRD
              value: "false"
            - name: MICRONAUT_SERVER_PORT
              value: "8443"
            - name: MICRONAUT_SSL_ENABLED
              value: "{{ .Values.operator.admissionWebhooks.enabled }}"
            {{- if .Values.operator.admissionWebhooks.enabled }}
            - name: OPERATOR_SSL_PATH
              value: "/etc/ssl/admission"
            - name: MICRONAUT_CONFIG_FILES
              value: "/tmp/application.yml"
            {{- end }}
            - name: SSL_FQDN
              value: "{{ include "hivemq.name" . }}-operator.{{ template "hivemq.namespace" . }}.svc"
          resources: {{ toYaml .Values.operator.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.global.rbac.securityContext | nindent 12 }}
          volumeMounts:
            - mountPath: /templates
              name: templates
            {{- if .Values.operator.admissionWebhooks.enabled }}
            - mountPath: /etc/ssl/admission
              name: ssl-secrets
            {{- end }}
          ports:
            - name: https
              containerPort: 8443
              protocol: TCP
      restartPolicy: Always
      serviceAccountName: "{{ template "hivemq.fullname" . }}-operator"
      volumes:
        - name: templates
          configMap:
            {{- if .Values.operator.templateConfigMap }}
            name: "{{ .Values.operator.templateConfigMap }}"
            {{- else }}
            name: "{{ include "hivemq.fullname" . }}-operator-templates"
            {{- end }}
        {{- if .Values.operator.admissionWebhooks.enabled }}
        - name: ssl-secrets
          secret:
            secretName: {{ template "hivemq.fullname" . }}-admission
        {{- end }}