apiVersion: v1
data:
  {{- (.Files.Glob "operator-tmpls/*").AsConfig | nindent 2 }}
kind: ConfigMap
metadata:
  name: "{{ include "hivemq.fullname" . }}-operator-templates"
  namespace: {{ $.Release.Namespace }}