{{- if and .Values.global.rbac.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: "{{ template "hivemq.fullname" . }}-hivemq"
  namespace: {{ template "hivemq.namespace" . }}
  labels:
    {{- include "hivemq.labels" . | nindent 4 }}
  annotations:
    {{- toYaml $.Values.hivemq.serviceAccountAnnotations | nindent 4 }}
imagePullSecrets:
  {{ toYaml .Values.global.rbac.imagePullSecrets | indent 2 }}
{{- end }}