{{- if and .Values.global.rbac.create .Values.global.rbac.pspEnabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: "{{ template "hivemq.fullname" . }}-hivemq-psp"
  labels:
    {{- include "hivemq.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ template "hivemq.fullname" . }}-hivemq-psp
subjects:
  - kind: ServiceAccount
    name: {{ .Values.hivemq.serviceAccountName }}
    namespace: {{ $.Release.Namespace }}
{{- end }}
