{{- if and .Values.global.rbac.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: "{{ template "hivemq.fullname" . }}-hivemq"
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "hivemq.labels" . | nindent 4 }}
imagePullSecrets:
  {{ toYaml .Values.hivemq.imagePullSecrets | indent 2 }}
{{- end }}