<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-30(%d %level %logger{36}) - %msg%n%ex</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- HiveMQ -->
    <logger name="com.hivemq.helmcharts" level="DEBUG"/>
    <logger name="io.fabric8.kubernetes" level="INFO"/>

</configuration>
