apiVersion: v2
name: hivemq-swarm
description: A Helm chart for HiveMQ Swarm
type: application
version: 0.2.39
appVersion: 4.33.0
maintainers:
  - email: support@hivemq.com
    name: HiveMQ
keywords:
  - HiveMQ
  - HiveMQ Swarm
  - MQTT
  - IoT
  - Java
  - distributed
  - messaging

icon: https://www.hivemq.com/img/svg/icon-hivemq-swarm.svg
