---
---

@import "{{ site.theme }}";
#header {
  display: none;
}

.wrapper {
  margin-top: 0;
}

section {
  margin-top: 0;

  #title {
    margin: 0;
  }

  .credits {
    font-size: 11px;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #696969;
    margin-top: -10px;

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }
  }
}
