apiVersion: v1
kind: Service
metadata:
  name: {{ printf "hivemq-platform-operator-%s" .Release.Name | trimSuffix "-" | trunc 63 | trimSuffix "-" | trim | quote }}
  {{- with .Values.services.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "hivemq-platform-operator.labels" . | nindent 4 }}
    {{- with .Values.services.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  ports:
    - name: {{ printf "http-%s" .Release.Name }}
      port: {{ .Values.http.port }}
      protocol: TCP
      targetPort: {{ printf "http-%s" .Release.Name | lower | trimSuffix "-" | trunc 15 | trimSuffix "-" | trim }}
    - name: {{ printf "https-%s" .Release.Name }}
      port: {{ .Values.https.port }}
      protocol: TCP
      targetPort: {{ printf "https-%s" .Release.Name | lower | trimSuffix "-" | trunc 15 | trimSuffix "-" | trim }}
  selector:
    {{- include "hivemq-platform-operator.selectorLabels" . | nindent 4 }}
  type: ClusterIP
