name: Helm Charts Dispatcher
on:
  pull_request:
concurrency:
  group: helm-charts-${{ github.ref }}
  cancel-in-progress: true
jobs:
  edge-changes:
    name: Edge changes
    runs-on: ubuntu-latest
    outputs:
      should-run: ${{ steps.changes.outputs.modified }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Check for relevant changes
        id: changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        with:
          filters: |
            modified:
              - '.github/workflows/dispatcher.yml'
              - '.github/workflows/edge-*.yml'
              - 'charts/hivemq-edge/**'
              - 'manifests/hivemq-edge/**'
          list-files: csv

  edge-smoke-test:
    name: Edge smoke tests
    needs: edge-changes
    if: needs.edge-changes.outputs.should-run == 'true'
    uses: ./.github/workflows/edge-smoke-test.yml
    secrets: inherit

  tests-summary-report:
    name: Tests Summary Report
    runs-on: ubuntu-latest
    if: always()
    needs:
      - edge-smoke-test
    steps:
      - name: Tests results summary
        if: needs.edge-smoke-test.result == 'failure'
        run: |
          echo "There are test failures."
          exit 1
