name: HiveMQ Operator (Legacy) Integration Tests
on:
  pull_request:
    branches:
      - "**"
  workflow_dispatch:
concurrency:
  group: hivemq-operator-legacy-integration-test-${{ github.ref }}
  cancel-in-progress: true
jobs:
  legacy-integration-test:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        test-plan: [
          Extensions,
          K8sVersionCompatibility,
          RollingUpgrades,
          Other
        ]
    steps:
      - name: Checkout HiveMQ Helm Charts
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          path: helm-charts

      - name: Set up Docker QEMU
        uses: docker/setup-qemu-action@49b3bc8e6bdd4a60e6116a5414239cba5943d3cf # v3

      - name: Login to Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Checkout HiveMQ Operator (legacy) on the default branch
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          repository: hivemq/hivemq-operator
          token: ${{ secrets.JENKINS_GITHUB_TOKEN }}
          path: hivemq-operator

      - name: Checkout HiveMQ Operator (legacy) on the same or target branch
        working-directory: ${{ github.workspace }}/hivemq-operator
        run: |
          echo "Checking if branch \"${GITHUB_HEAD_REF}\" exists on hivemq-operator"
          BRANCH=$(git ls-remote origin ${GITHUB_HEAD_REF})
          if [[ -n "${BRANCH}" ]]; then 
            echo "Checking out branch with the same name"
            git fetch --all
            git checkout origin/${GITHUB_HEAD_REF}
            exit
          fi
          if [[ "${GITHUB_BASE_REF}" == "master" ]]; then
            exit
          fi
          echo "Checking if branch \"${GITHUB_BASE_REF}\" exists on hivemq-operator"
          BRANCH=$(git ls-remote origin ${GITHUB_BASE_REF})
          if [[ -n "${BRANCH}" ]]; then 
            echo "Checking out target branch"
            git fetch --all
            git checkout origin/${GITHUB_BASE_REF}
          fi

      - name: Set up JDK 21
        uses: actions/setup-java@2dfa2011c5b2a0f1489bf9e433881c92c1631f88 # v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@d156388eb19639ec20ade50009f3d199ce1e2808 # v4
        with:
          gradle-home-cache-includes: |
            caches
            notifications
            jdks

      - name: Run HiveMQ Operator (legacy) integration tests
        env:
          TEST_PLAN: ${{ matrix.test-plan }}
        working-directory: helm-charts
        run: ./gradlew :tests-hivemq-operator:integrationTest

      - name: Upload HiveMQ Operator (legacy) test results
        if: always()
        uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4
        with:
          name: Test results HiveMQ Operator (legacy) ${{ matrix.test-plan }}
          path: |
            helm-charts/tests-hivemq-operator/build/reports/tests/integrationTest/
            helm-charts/tests-hivemq-operator/build/test-results/integrationTest/*.xml
          retention-days: 5
