name: HiveMQ Platform Operator Integration Tests
on:
  push:
    branches:
      - "**"
  workflow_dispatch:
concurrency:
  group: hivemq-operator-platform-integration-test-${{ github.ref }}
  cancel-in-progress: true
jobs:
  platform-integration-test-compose:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        test-plan: [ Upgrade, Extensions, NonRootUser, Other ]
    steps:
      - name: Checkout HiveMQ Platform Helm Charts
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          path: helm-charts
      - name: Set up Docker QEMU
        uses: docker/setup-qemu-action@2b82ce82d56a2a04d2637cd93a637ae1b359c0a7 # v2
      - name: Login to Container Registry
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Checkout HiveMQ Platform Operator on the default branch
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          repository: hivemq/hivemq-platform-operator
          token: ${{ secrets.JENKINS_TOKEN }}
          path: hivemq-platform-operator
      - name: Checkout HiveMQ Platform Operator on the same branch
        run: |
          echo "Checking if branch \"${GITHUB_REF_NAME}\" exists on hivemq-platform-operator"
          cd hivemq-platform-operator
          BRANCH=$(git ls-remote origin ${GITHUB_REF_NAME})
          if [[ -n "${BRANCH}" ]]; then 
            echo "Checking out branch with the same name"
            git fetch --all
            git checkout origin/${GITHUB_REF_NAME}
          fi
      - name: Set up JDK 11
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Run HiveMQ Platform Operator integration tests
        uses: gradle/gradle-build-action@a8f75513eafdebd8141bd1cd4e30fcd194af8dfa # v2
        env:
          TEST_PLAN: ${{ matrix.test-plan }}
        with:
          cache-disabled: true
          gradle-home-cache-includes: |
            caches
            notifications
            jdks
          gradle-home-cache-cleanup: true
          build-root-directory: helm-charts
          arguments: |
            :tests-hivemq-platform-operator:integrationTest --tests "*.compose.*"
      - name: Upload HiveMQ Platform Operator test results
        if: always()
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4
        with:
          name: Test results HiveMQ Platform Operator - Compose ${{ matrix.test-plan }}
          path: |
            helm-charts/tests-hivemq-platform-operator/build/reports/tests/integrationTest/
            helm-charts/tests-hivemq-platform-operator/build/test-results/integrationTest/*.xml
          retention-days: 5

  platform-integration-test-single:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        test-plan: [ CustomConfig, Services1, Services2, Platform, NonRootUser, Other ]
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          path: helm-charts
      - name: Set up Docker QEMU
        uses: docker/setup-qemu-action@2b82ce82d56a2a04d2637cd93a637ae1b359c0a7 # v2
      - name: Login to Container Registry
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Checkout HiveMQ Platform Operator on the default branch
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          repository: hivemq/hivemq-platform-operator
          token: ${{ secrets.JENKINS_TOKEN }}
          path: hivemq-platform-operator
      - name: Checkout HiveMQ Platform Operator on the same branch
        run: |
          echo "Checking if branch \"${GITHUB_REF_NAME}\" exists on hivemq-platform-operator"
          cd hivemq-platform-operator
          BRANCH=$(git ls-remote origin ${GITHUB_REF_NAME})
          if [[ -n "${BRANCH}" ]]; then 
            echo "Checking out branch with the same name"
            git fetch --all
            git checkout origin/${GITHUB_REF_NAME}
          fi
      - name: Set up JDK 11
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Run HiveMQ Platform Operator integration tests
        uses: gradle/gradle-build-action@a8f75513eafdebd8141bd1cd4e30fcd194af8dfa # v2
        env:
          TEST_PLAN: ${{ matrix.test-plan }}
        with:
          cache-disabled: true
          gradle-home-cache-includes: |
            caches
            notifications
            jdks
          gradle-home-cache-cleanup: true
          build-root-directory: helm-charts
          arguments: |
            :tests-hivemq-platform-operator:integrationTest --tests "*.single.*"
      - name: Upload HiveMQ Platform Operator test results
        if: always()
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4
        with:
          name: Test results HiveMQ Platform Operator - Single ${{ matrix.test-plan }}
          path: |
            helm-charts/tests-hivemq-platform-operator/build/reports/tests/integrationTest/
            helm-charts/tests-hivemq-platform-operator/build/test-results/integrationTest/*.xml
          retention-days: 5
