#file: noinspection UndefinedAction,UndefinedParamsPresent
name: HiveMQ Legacy Operator Helm Chart Smoke Test
on:
  workflow_call:
env:
  RELEASE_NAME: "smoke-test-release"
jobs:
  run-smoke-test:
    name: Smoke test on Helm latest-3 (v3.19.2)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout HiveMQ Helm Charts
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          path: helm-charts
          fetch-depth: 0

      - name: Checkout HiveMQ Legacy Operator
        uses: ./helm-charts/.github/actions/checkout-repo
        with:
          repository: hivemq/hivemq-operator
          repository-default-branch: master
          path: hivemq-operator
          token: ${{ secrets.JENKINS_GITHUB_TOKEN }}

      - name: Set up Docker QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up JDK 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: temurin
          java-version: 21

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
        with:
          gradle-home-cache-includes: |
            caches
            notifications
            jdks

      - name: Build HiveMQ Legacy Operator images
        working-directory: helm-charts
        run: ./gradlew :tests-hivemq-operator:build :tests-hivemq-operator:saveDockerImages

      - name: Create K8s Kind Cluster
        uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1
        with:
          cluster_name: "kind"

      - name: Load local images into KinD cluster
        working-directory: helm-charts
        run: |
          kind load image-archive ./tests-hivemq-operator/build/hivemq-dns-init-wait.tar
          kind load image-archive ./tests-hivemq-operator/build/hivemq-k8s.tar
          kind load image-archive ./tests-hivemq-operator/build/hivemq-operator.tar

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
        with:
          version: v3.19.2

      - name: Install HiveMQ Legacy Operator
        working-directory: helm-charts
        run: |
          helm repo add prometheus https://prometheus-community.github.io/helm-charts
          helm dependency build ./charts/hivemq-operator
          helm install $RELEASE_NAME ./charts/hivemq-operator -f ./examples/hivemq-operator/localStatefulTest.yml --wait --timeout 5m0s --create-namespace -n test

      - name: Wait for pods to be ready
        working-directory: helm-charts
        run: bash ./scripts/wait-for-pods.sh hivemq-cluster hivemq-cluster=$RELEASE_NAME test

      - name: Test HiveMQ Cluster
        run: helm test $RELEASE_NAME --logs -n test

      - name: Capture HiveMQ Legacy Operator Pod logs
        if: always()
        run: |
          mkdir ${{ runner.temp }}/logs
          echo "=== POD STATUS ===" > ${{ runner.temp }}/logs/legacy-pods.log
          kubectl get pods -n test >> ${{ runner.temp }}/logs/legacy-pods.log
          echo "=== CLUSTER LOGS ===" >> ${{ runner.temp }}/logs/legacy-pods.log
          kubectl logs -l hivemq-cluster=$RELEASE_NAME --tail -1 -n test >> ${{ runner.temp }}/logs/legacy-pods.log 2>&1 || echo "Failed to retrieve cluster pods logs" >> ${{ runner.temp }}/logs/legacy-pods.log
          echo "=== LEGACY OPERATOR LOGS ===" >> ${{ runner.temp }}/logs/legacy-pods.log
          kubectl logs -l app=hivemq-operator --tail -1 -n test >> ${{ runner.temp }}/logs/legacy-pods.log 2>&1 || echo "Failed to retrieve legacy operator pod logs" >> ${{ runner.temp }}/logs/legacy-pods.log          

      - name: Upload HiveMQ Legacy Operator Pod logs
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: "HiveMQ Legacy Operator - Smoke test results on Helm ${{ matrix.helm-label }} (${{ matrix.helm-version }})"
          path: ${{ runner.temp }}/logs/legacy-pods.log
          retention-days: 5

      - name: Print HiveMQ Legacy Operator Pod logs
        if: always()
        run: |
          cat ${{ runner.temp }}/logs/legacy-pods.log

      - name: Uninstall HiveMQ Legacy Operator
        if: always()
        run: |
          helm uninstall $RELEASE_NAME --wait --ignore-not-found -n test
