#file: noinspection UndefinedAction,UndefinedParamsPresent
name: HiveMQ Platform Operator Helm Chart and HiveMQ Platform Helm Chart Smoke Test
on:
  workflow_call:
env:
  RELEASE_NAME: "smoke-test-release"
jobs:
  run-smoke-test:
    name: Smoke test on Helm ${{ matrix.helm-label }} (${{ matrix.helm-version }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - helm-label: 'minimum'
            helm-version: 'v3.10.0'
          - helm-label: 'latest-3'
            helm-version: 'v3.20.0'
          - helm-label: 'latest-4'
            helm-version: 'v4.1.0'
    steps:
      - name: Checkout HiveMQ Helm Charts
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          path: helm-charts
          fetch-depth: 0

      - name: Checkout HiveMQ Platform Operator
        uses: ./helm-charts/.github/actions/checkout-repo
        with:
          repository: hivemq/hivemq-platform-operator
          repository-default-branch: master
          path: hivemq-platform-operator
          token: ${{ secrets.JENKINS_GITHUB_TOKEN }}

      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: temurin
          java-version: 21

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
        with:
          gradle-home-cache-includes: |
            caches
            notifications
            jdks

      - name: Create K8s Kind Cluster
        id: kind
        uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1
        with:
          cluster_name: "kind"
          registry: true
          registry_name: kind-registry
          registry_port: 5000

      - name: Push images to the Kind registry
        working-directory: helm-charts
        env:
          ORG_GRADLE_PROJECT_dockerHubUsername: ${{ secrets.DOCKER_USERNAME }}
          ORG_GRADLE_PROJECT_dockerHubPassword: ${{ secrets.DOCKER_TOKEN }}
        run: |
          ./gradlew :tests-hivemq-platform-operator:pushAllImagesForTesting --url ${{ steps.kind.outputs.LOCAL_REGISTRY }}

      - name: Set up Helm ${{ matrix.helm-label }} (${{ matrix.helm-version }})
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
        with:
          version: ${{ matrix.helm-version }}

      - name: Install HiveMQ Platform Operator
        working-directory: helm-charts
        run: helm install operator-test --set image.repository=${{ steps.kind.outputs.LOCAL_REGISTRY }}/hivemq --set image.tag=snapshot ./charts/hivemq-platform-operator --wait --timeout 2m0s

      - name: Install HiveMQ Platform
        working-directory: helm-charts
        run: helm install $RELEASE_NAME --set image.repository=${{ steps.kind.outputs.LOCAL_REGISTRY }}/hivemq --set image.tag=latest --set nodes.replicaCount=1,nodes.resources.cpu=512m ./charts/hivemq-platform --wait --timeout 3m0s --create-namespace -n test

      - name: Wait for pods to be ready
        working-directory: helm-charts
        run: bash ./scripts/wait-for-pods.sh hivemq-platform app.kubernetes.io/instance=$RELEASE_NAME test

      - name: Test HiveMQ Platform
        run: helm test $RELEASE_NAME --logs -n test

      - name: Capture HiveMQ Platform Pod logs
        if: always()
        run: |
          mkdir ${{ runner.temp }}/logs
          echo "=== POD STATUS ===" > ${{ runner.temp }}/logs/platform-operator-pod.log
          kubectl get pods -n default >> ${{ runner.temp }}/logs/platform-operator-pod.log
          echo "=== LOGS ===" >> ${{ runner.temp }}/logs/platform-operator-pod.log
          kubectl logs -l app.kubernetes.io/instance=operator-test --tail -1 -n default >> ${{ runner.temp }}/logs/platform-operator-pod.log 2>&1 || echo "Failed to retrieve pod logs" >> ${{ runner.temp }}/logs/platform-operator-pod.log

          echo "=== POD STATUS ===" > ${{ runner.temp }}/logs/platform-pod.log
          kubectl get pods -n test >> ${{ runner.temp }}/logs/platform-pod.log
          echo "=== LOGS ===" >> ${{ runner.temp }}/logs/platform-pod.log
          kubectl logs -l app.kubernetes.io/instance=$RELEASE_NAME --tail -1 -n test >> ${{ runner.temp }}/logs/platform-pod.log 2>&1 || echo "Failed to retrieve pod logs" >> ${{ runner.temp }}/logs/platform-pod.log

      - name: Upload HiveMQ Platform Pod logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: "HiveMQ Platform Operator - Smoke test results on Helm ${{ matrix.helm-label }} (${{ matrix.helm-version }})"
          path: ${{ runner.temp }}/logs/*.log
          retention-days: 5

      - name: Print HiveMQ Platform Operator Pod logs
        if: always()
        run: |
          cat ${{ runner.temp }}/logs/platform-operator-pod.log

      - name: Print HiveMQ Platform Pod logs
        if: always()
        run: |
          cat ${{ runner.temp }}/logs/platform-pod.log

      - name: Uninstall HiveMQ Platform and Platform Operator
        if: always()
        run: |
          helm uninstall $RELEASE_NAME --wait -n test
          helm uninstall operator-test --wait
