name: HiveMQ Swarm Helm Chart Verify Tests
on:
  workflow_call:
jobs:
  run-verify-tests:
    name: Verify tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout HiveMQ Helm Charts
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
        with:
          version: 'v3.19.2'

      - name: Set up Kubeconform
        run: |
          helm plugin install https://github.com/jtyr/kubeconform-helm

      - name: Lint
        if: always()
        run: |
          helm lint charts/hivemq-swarm

      - name: Unit Test
        if: always()
        uses: d3adb5/helm-unittest-action@66140cd099aa6c4f2ebc59735b8e421135a6d4e3 # v2.4
        with:
          helm-version: 'v3.19.2'
          charts: charts/hivemq-swarm
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flags: --file './tests/**/*_test.yaml'

      - name: Check manifests are up-to-date
        if: always()
        run: |
          manifests/hivemq-swarm/manifests.sh
          git add manifests/ -v
          git diff HEAD --exit-code

      - name: Validate rendered manifests
        if: always()
        run: |
          helm kubeconform --config .github/configs/kubeconform.yml charts/hivemq-swarm -r hivemq-swarm-release -n hivemq-swarm-namespace

