name: Sync branches with HiveMQ Platform Operator and HiveMQ K8s testsuite repos
on:
  pull_request:
    branches:
      - next-operator-release
jobs:
  sync-branches:
    name: Sync branches with hivemq-platform-operator and hivemq-k8s-testsuite repos
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repository: [
          hivemq-platform-operator,
          hivemq-k8s-testsuite
        ]

    steps:
      - name: Checkout hivemq/${{ matrix.repository }} on next-operator-release
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          repository: hivemq/${{ matrix.repository }}
          ref: next-operator-release
          token: ${{ secrets.JENKINS_GITHUB_TOKEN }}

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Check if same branch exists
        id: check-branch
        run: |
          echo "Checking if branch \"${GITHUB_HEAD_REF}\" exists on ${{ matrix.repository }}"
          BRANCH=$(git ls-remote origin ${GITHUB_HEAD_REF})
          if [[ -n "${BRANCH}" ]]; then
            echo "Same branch exists on ${{ matrix.repository }}"
            echo "branch_exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "Same branch does not exists on ${{ matrix.repository }}"
            echo "branch_exists=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Create new branch based on next-operator-release
        if: steps.check-branch.outputs.branch_exists == 'false'
        run: |
          BRANCH=${{ github.event.pull_request.head.ref }}
          git checkout -b $BRANCH
          git push origin $BRANCH
